﻿
<h1>Employee database</h1>
<p class="lead">You can search by Id or leave the text field blank to get all employees</p>



<div class="container">
    <!-- Content here -->
</div>
<div class="row">
    <div class="input-group mb-3">
        <input type="text" id="txtId" class="form-control" placeholder="Employee's Id or Blank" aria-label="Employee's Id or Blank" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-primary" type="button">
                Search
            </button>
        </div>
    </div>
</div>

<div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Role</th>
                <th scope="col">Contract</th>
                <th scope="col">Annual Salary</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<div id="internalError" class="errorHandler alert alert-secondary" role="alert">
    An error occurred. Please try again later.
</div>
<div id="errorClient" class="errorHandler alert alert-secondary" role="alert">
    
</div>

<script>
    var isLoading = false;

    $(document).ready(function () {
        resetControls();
        $('button span').hide();
        $('#txtId').keydown(function (e) {
            if (e.keyCode == 13) {
                sendRequest();
            }
        })
        $('button').click(function () {
            sendRequest();
        });
    });

    var sendRequest = function () {
        if (isLoading) { return; }
        prepareToLoad();
        let id = $('#txtId').val();
        if (!id) { id = '' }
        $.get('/api/Employee/' + id, function (data, status) {
            resetControls();
            console.log(data);
            if (!data || data.length == 0) {
                $('#errorClient').text("No employees were found. Please try again.").show();
                return;
            }
            
            $('table').fadeIn('30');
            $('table tbody tr').remove();
            var html = '';
            for (var i = 0; i < data.length; i++)
                html += '<tr><td>' + data[i].Id +
                    '</td><td>' + data[i].Name +
                    '</td><td>' + data[i].RoleName +
                    '</td><td>' + data[i].ContractTypeName +
                    '</td><td>' + formatCurrency(data[i].AnnualSalary) + '</td></tr>';
            $('table tbody').append(html);
        }).fail(function (err) {
            $('table').hide();
            if (startsWith(err.status, '4')) { $('#errorClient').text(getErrorMessage(err)).show(); }
            else { $('#internalError').show(); }
        }).always(function () { loadingDone(); });        
    }

    var startsWith = function (str, word) {
        return str.toString().lastIndexOf(word, 0) === 0;
    }

    var getErrorMessage = function (err) {
        return err.responseJSON.ModelState.Bad_Id;
    }

    var resetControls = function () {
        $('table').hide();
        $('.errorHandler').hide();
        $('#txtId').focus();
    }

    var formatCurrency = function (monetary_value) {
        return new Intl.NumberFormat('en-US', {
            style: 'currency',
            currency: 'USD'
        }).format(monetary_value);
    }

    var prepareToLoad = function () {
        debugger;
        isLoading = true;
        $('button').disabled = true;
        $('button').text('Loading');
        $('button span').show();        
    }

    var loadingDone = function () {
        debugger;
        isLoading = false;
        $('button').disabled = false;
        $('button span').hide();
        $('button').text('Search');

    }

    
</script>
